<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Related to the connection START -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- <property name="connection.url">jdbc:mysql://localhost:3306/studentdatabase</property> -->
		<property name="connection.url">jdbc:mysql://localhost:3306/sagarenterprisesspringdatabase</property>
		<property name="connection.user">root</property>
		<property name="connection.password">root</property>
		<!-- Related to the connection END -->

		<!-- Related to hibernate properties START -->
		<property name="show_sql">true</property>
		<property name="dialet">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<!-- Related to hibernate properties END -->

		<!-- Related to mapping START -->
		<mapping class="com.entity.AdminEntity"></mapping>
		<mapping class="com.entity.StateEntity"></mapping>
		<mapping class="com.entity.CityEntity"></mapping>
		<mapping class="com.entity.CustomerEntity"></mapping>
		<mapping class="com.entity.BillingEntity"></mapping>
		<!-- Related to the mapping END -->

	</session-factory>
</hibernate-configuration>